%main-font {
font-family: 'Roboto', sans-serif;
font-weight: 400;
}

%title-font {
    font-size: 45px;
    line-height: 51px;
    color: #ffffff;
    margin-bottom: 40px;
    font-weight: 400;
    text-align: center;
}

%text-font {
    font-size: 30px;
    line-height: 35px;
    color: #000;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;
    font-style: italic;
}